.box {
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.box-2 {
  margin-top: 180px;
}
.box__container {
  max-width: 1170px;
  margin: 0 auto;
}
.box__list {
  padding-top: 63px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-around;
}
.box__item {
  width: 100%;
  max-width: 250px;
}
.box__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.box__info {
  width: 248px;
  padding: 0.6rem;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 9px;
  min-height: 120px;
}
.box__text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3rem;
  text-align: center;
}
.box__price {
  font-size: 14px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4rem;
}
.box__price-2 {
  margin-top: -15px;
}
.perfomers__container {
  max-width: 1200px;
  margin: 0 auto;
}
.perfomers__region {
  max-width: 473px;
  margin-right: 25px;
}
.perfomers__city {
  width: 100%;
  max-width: 652px;
}
.perfomers__service {
  width: 100%;
  max-width: 653px;
  margin-right: 25px;
}
.perfomers__label {
  margin: 0px 4rem 3rem 0rem;
  display: inline-block;
  vertical-align: top;
  min-width: 240px;
  max-width: 430px;
}
.perfomers__label label {
  margin: 0 0 0 1rem;
}
.perfomers select {
  border: 1px solid #999;
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  background: url(g.png) top 50% right 20px no-repeat;
  background-color: #f5f7fa;
}
.perfomers .submit {
  max-width: 472px !important;
  margin-bottom: 4rem !important;
  margin-top:0!important;
}
.executor__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.executor__photo {
  height: 7rem;
  border-radius: 50%;
  border: 2px solid #6c6;
}

.executor__img{
  text-align: center;
  }
  

.executor__box {
  display: flex;
  border-top: 5px solid #eee;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}
.executor__state {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #999;
  border-radius: 10px;
  width: 100%;
  max-width: 130px;
  height: 27px;
  text-align: center;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  color: green;
}
.executor__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3rem;
}
.executor__info span {
  color: green;
}
.executor__user {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
}
.executor__tale {
  margin-top: 1.5rem;
}
.executor__portfolio {
  width: 100%;
  max-width: 945px;
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}
.executor__information {
  margin: 0 auto;
  max-width: 323px;
  position: relative;
  z-index: 2;
  margin-top: -81px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.executor__text {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 1.1rem;
  padding-left: 1.5rem;
}
.executor__price {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1.5rem;
  color: #61ba6d;
  padding-bottom: 1.1rem;
}
.executor__link {
  color: blue;
  margin-top: 1rem;
}


.executor__izbran {
  width: 54px;
  height: 44px;
  position: relative;
  background-color: white;
  border: none;
  cursor: pointer;
}
.executor__izbran::before {
  content: "";
  position: absolute;
  background-image: url('h2.png');
  background-size: cover;
  width: 50px;
  height: 44px;
  left: 0;
  top: 0;
}
.executor__izbran:hover::before {
  content: "";
  position: absolute;
  background-image: url('h.png');
  background-size: cover;
  width: 50px;
  height: 44px;
  left: 0;
  top: 0;
}

.executor__dop{
	margin: 1rem auto 1rem;
}


.m-r-10 {
  margin-right: 10px;
}
.footer {
  margin-top: 5px !important;
}
@media screen and (max-width: 1193px) {
  .perfomers {
    text-align: center;
  }
  .perfomers input[type=select], .perfomers input[type=submit] {
    margin: 0px 0rem 3rem 0rem !important;
    display: inline-block !important;
    vertical-align: top !important;
    min-width: 240px !important;
    max-width: 500px !important;
    text-align: center;
  }
  .perfomers__region {
    max-width: 650px;
    margin-right: 0;
  }
  .perfomers__city {
    width: 100%;
    max-width: 650px;
  }
  .perfomers__service {
    width: 100%;
    max-width: 650px;
    margin-right: 0;
  }
  .perfomers .submit {
    max-width: 650px !important;
    margin-bottom: 4rem !important;
	
  }
}
@media screen and (max-width: 1020px) {
  .box, .executor__portfolio {
    display: none;
  }
}
@media screen and (max-width: 1130px) {
  .executor__portfolio {
    display: none;
  }
}
@media screen and (max-width: 600px) {

.executor__box {
   display: block;
    position: relative;
    text-align: center;
    margin-top: 3rem;
}
.executor__izbran{
	display: block;
}

.executor__img img {
	margin: 0 auto 10px;
	display:block;
}

.executor__img{
	margin-bottom: 20px;
	
	
}


.executor__info {
    
   margin-left: 0;
}

.executor__tale{
text-align: left;

}
.executor__img a {
	display: block;
	}

}