html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.container__form {
  max-width: 790px;
  margin: 0 auto;
}

.container__footer {
  max-width: 1860px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 11px;
}
.header-authorization {
  display: flex;
}
.header__container {
  max-width: 1860px;
  margin: 0 auto;
}

.logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  line-height: 35px;
  margin-left: 67px;
}
.logo span {
  font-family: 'Myriad Regular';
  font-weight: 400;
  font-size: 48px;
  color: #73c450;
}

.site-navigation {
  margin-right: 443px;
}
.site-navigation__list {
  display: flex;
  list-style: none;
  margin-left: 140px;
}
.site-navigation__item:nth-child(1) {
  margin-right: 68px;
  position: relative;
}
.site-navigation__item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/message-icon.png");
  height: 31px;
  width: 35px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(2) {
  margin-right: 85px;
  position: relative;
}
.site-navigation__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/order-icon.png");
  width: 36px;
  height: 36px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(3) {
  position: relative;
}
.site-navigation__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/new-order.png");
  width: 35px;
  height: 31px;
  left: -44px;
  top: -6px;
}
.site-navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.logout {
  border: none;
  text-transform: uppercase;
  color: #61ba6d;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  margin-right: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
}
.logout::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/logout-icon.png");
  width: 35px;
  height: 35px;
  left: -44px;
  top: 17px;
}

.specialist-info {
  position: relative;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 31px;
  padding: 14px 62px 11px 91px;
  max-width: 321px;
  outline: none;
  cursor: pointer;
}
.specialist-info::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/specialist-icon.png");
  width: 35px;
  height: 35px;
  left: 35px;
}

.orders__container {
  max-width: 1170px;
  margin: 0 auto;
}
.orders__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 125px;
}
.orders__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.orders__input {
  width: 100%;
  max-width: 655px;
  border-radius: 31px;
  border: 1px solid #999;
  outline: none;
  padding: 21px 0 21px 22px;
}
.orders__button {
  font-weight: bold;
  width: 100%;
  max-width: 457px;
  border-radius: 31px;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #999;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  color: #fff;
  padding: 23px 0 25px;
}
.orders__menu {
  margin-top: 85px;
  display: flex;
  align-items: center;
  background-color: #000;
  height: 53px;
}
.orders__item:nth-child(1) {
  margin-left: 15px;
}
.orders__item:not(:last-child) {
  margin-right: 63px;
}
.orders__link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.orders__link:hover {
  border-bottom: 3px solid #fff;
  transition: all .3s;
}

.execution__container {
  max-width: 1170px;
  margin: 0 auto;
}
.execution__box {
  display: flex;
  margin-top: 80px;
  border-bottom: 5px solid #eee;
}
.execution__info:nth-child(1) {
  margin-right: 128px;
}
.execution__list {
  display: flex;
}
.execution__services {
  color: green;
}
.execution__services:not(:last-child) {
  margin-right: 48px;
}
.execution__name {
  font-size: 24px;
  font-weight: bold;
}
.execution__name span {
  font-weight: 500;
}
.execution__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
}
.execution__description {
  margin-top: 53px;
  margin-bottom: 40px;
  max-width: 765px;
}
.execution__user {
  margin-bottom: 62px;
}
.execution__link {
  color: green;
}
.execution__button {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  display: block;
  border: 1px solid #999;
  padding: 22px 67px 22px 67px;
  color: green;
  width: 100%;
  max-width: 262px;
  outline: none;
  cursor: pointer;
}

.footer {
  margin-top: 220px;
  background: linear-gradient(0deg, #666666 0%, black 100%);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 55px;
}
.footer__column:nth-child(1) {
  margin-left: 40px;
}
.footer__logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  line-height: 32px;
}
.footer__logo span {
  font-weight: 400;
  color: #6cb970;
}
.footer__copyright {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 43px;
}
.footer__item:nth-child(1) {
  margin-top: 25px;
}
.footer__item:nth-child(2) {
  padding-top: 55px;
}
.footer__link {
  color: #fff;
}
.footer__button {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(0deg, #b1b1b1 0%, #8d8d8d 100%);
  padding: 24px 83px 25px 76px;
  border-radius: 40px;
}
.footer__button:hover {
  box-shadow: 0px 5px 16.6px 3.4px rgba(99, 187, 106, 0.35);
}
.footer__mail {
  margin-top: 40px;
  color: #fff;
}
