label {
  text-align: right;
}
.withdrawal {
  max-width: 595px;
  margin: 0 auto;
}

.withdrawal__variant{

    margin-bottom: 4rem;
  }
.withdrawal__label {
  font-size: 1.3rem;
  padding-left: 1.8rem;
}
.withdrawal__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.withdrawal__card-column {
  color: #4b9f56;
}
.withdrawal__card-comission {
  font-weight: 400;
  color: #6d6d6d;
}
.withdrawal__submit {
  text-transform: uppercase;
  width: 100%;
  max-width: 590px;
  padding: 1.2rem 0 1.2rem 1.2rem;
  border-radius: 41px;
  outline: none;
  border: none !important;
  margin-top: 55px;
  color: #fff !important;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  text-align: center;
}
.withdrawal__submit:hover {
  background: linear-gradient(0deg, #61ba6d 0%, #61ba6d 100%);
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}
