.registration__container {
  max-width: 1140px;
  margin: 0 auto;
}
.registration__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0 0 0;
}
.registration__item {
  border-radius: 31px;
  width: 100%;
  max-width: 263px;
  margin: 10px;
}
.registration__item:nth-child(1) {
  background-color: #2f76a6;
  position: relative;
}
.registration__item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url('../img-registration/vk-icon.png');
  background-size: cover;
  width: 2.5rem;
  height: 2.1rem;
  top: 1rem;
  left: 1.5rem;
}
.registration__item:nth-child(2) {
  background-color: #3d67ba;
  position: relative;
}
.registration__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url('../img-registration/fb-icon.png');
  background-size: cover;
  width: 2.1rem;
  height: 2.1rem;
  top: 1rem;
  left: 1.5rem;
}
.registration__item:nth-child(3) {
  background-color: #ff7b00;
  position: relative;
}
.registration__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url('../img-registration/od-icon.png');
  background-size: cover;
  width: 1rem;
  height: 2.1rem;
  top: 1rem;
  left: 1.5rem;
}
.registration__item:nth-child(4) {
  background-color: #ff4934;
  position: relative;
}
.registration__item:nth-child(4)::before {
  content: "";
  position: absolute;
  background-image: url('../img-registration/g-icon.png');
  background-size: cover;
  width: 1.7rem;
  height: 2rem;
  top: 1rem;
  left: 1.5rem;
}
.registration__link {
  color: #fff;
  font-size: 1.5rem;
  padding: 1.1rem 4rem;
}
.registration__od {
  padding: 1.3rem 3rem;
  font-size: 1.2rem !important;
}

.mail__flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	
}


.mail__container {
  max-width: 1200px;
  margin: 0 auto;
}
.mail__title {
  font-size: 1.5 rem;
  font-weight: bold;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.mail__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mail__input {
  width: 48% !important;
}
.mail__check {
  margin: 10px;
}
.mail__info {
  color: #999;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 3rem;
}
.mail__flex-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mail__create {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
}
.mail__choose {
  max-width: 780px;
}
.mail__order {
  max-width: 780px;
}
.mail__description {
  max-width: 780px;
}
.mail__cost {
  max-width: 780px;
}
.mail__day {
  max-width: 780px;
}
.submit {
  width: 100%;
  max-width: 780px;
}

@media screen and (max-width: 700px) {
.mail__input{
	width: 100%!important;
	}
}