html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.container__footer {
  max-width: 1860px;
  margin: 0 auto;
}

.application__container {
  max-width: 595px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 13px;
}
.header-authorization {
  display: flex;
}
.header__container {
  max-width: 1860px;
  margin: 0 auto;
}

.logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  line-height: 35px;
  margin-left: 67px;
}
.logo span {
  font-family: 'Myriad Regular';
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.site-navigation {
  margin-right: 350px;
}
.site-navigation__list {
  display: flex;
  list-style: none;
  margin-left: 140px;
}
.site-navigation__item:nth-child(1) {
  margin-right: 68px;
  position: relative;
}
.site-navigation__item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url("../img-arbitration/message-icon.png");
  height: 31px;
  width: 35px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(2) {
  margin-right: 85px;
  position: relative;
}
.site-navigation__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img-arbitration/order-icon.png");
  width: 36px;
  height: 36px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(3) {
  position: relative;
}
.site-navigation__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("../img-arbitration/ad-icon.png");
  width: 35px;
  height: 31px;
  left: -44px;
  top: -6px;
}
.site-navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.logout {
  border: none;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  margin-right: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
}
.logout::before {
  content: "";
  position: absolute;
  background-image: url("../img-arbitration/logout-icon.png");
  width: 35px;
  height: 35px;
  left: -44px;
  top: 17px;
}

.specialist-info {
  position: relative;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  background-color: #000;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 31px;
  padding: 14px 62px 11px 91px;
  max-width: 321px;
  outline: none;
  cursor: pointer;
}
.specialist-info::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/specialist-icon.png");
  width: 35px;
  height: 35px;
  left: 35px;
}

.executor__container {
  max-width: 1170px;
  margin: 0 auto;
}
.executor__box {
  margin-top: 83px;
  display: flex;
  border-bottom: 5px solid #eee;
  padding-bottom: 66px;
}
.executor__state {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #999;
  border-radius: 10px;
  width: 100%;
  max-width: 130px;
  height: 27px;
  text-align: center;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  color: green;
}
.executor__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 55px;
}
.executor__info span {
  color: green;
}
.executor__user {
  font-size: 20px;
  font-weight: bold;
}

.history__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 62px;
  margin-bottom: 84px;
}
.history__wrapper {
  display: flex;
}
.history__block span {
  color: green;
}
.history__column:nth-child(1) {
  width: 100%;
  max-width: 488px;
  margin-right: 97px;
}
.history__statistics {
  font-weight: bold;
}
.history__age {
  display: inline-block;
  margin-right: 21px;
}
.history__country {
  display: inline-block;
}
.history__my-services {
  font-weight: bold;
}
.history__item:not(:last-child) {
  margin-bottom: 17px;
}
.history__button {
  width: 100%;
  max-width: 488px;
  border-radius: 31px;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 22px 0 22px;
  margin-top: 71px;
}
.history__education {
  margin-top: 80px;
}
.history__my-education {
  font-weight: bold;
}
.history__my-info {
  font-size: 20px;
  margin-bottom: 105px;
}
.history__portfolio {
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 22px 126px;
  border-radius: 31px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.history__recommend {
  background: linear-gradient(0deg, #666666 0%, black 100%);
  box-shadow: 0px 5px 16.6px 3.4px rgba(99, 187, 106, 0.6);
  padding: 22px 51px;
  border-radius: 31px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.history__btn {
  display: inline-block;
}
.history__right {
  margin-right: 99px;
}

.footer {
  margin-top: 220px;
  background: linear-gradient(0deg, #666666 0%, black 100%);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 55px;
}
.footer__column:nth-child(1) {
  margin-left: 40px;
}
.footer__logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  line-height: 32px;
}
.footer__logo span {
  font-weight: 400;
  color: #6cb970;
}
.footer__copyright {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 43px;
}
.footer__item:nth-child(1) {
  margin-top: 25px;
}
.footer__item:nth-child(2) {
  padding-top: 55px;
}
.footer__link {
  color: #fff;
}
.footer__button {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(0deg, #b1b1b1 0%, #8d8d8d 100%);
  padding: 24px 83px 25px 76px;
  border-radius: 40px;
}
.footer__button:hover {
  box-shadow: 0px 5px 16.6px 3.4px rgba(99, 187, 106, 0.35);
}
.footer__mail {
  margin-top: 40px;
  color: #fff;
}
