html {
  box-sizing: border-box;
  font-size: 18px;
}


@media screen and (max-width: 1200px) {
html {
   font-size: 17px;
}
}

@media screen and (max-width: 900px) {
html {
   font-size: 16px;
}
}

@media screen and (max-width: 700px) {
html {
   font-size: 15px;
}
}

@media screen and (max-width: 500px) {
html {
   font-size: 14px;
}
}


@media screen and (max-width: 400px) {
html {
   font-size: 13px;
}
}


@media screen and (max-width: 300px) {
html {
   font-size: 12px;
}
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000;
}

  h1{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 3rem;
  margin-bottom: 5rem;
  }
  
  h2{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
  }

	 input[type=text], input[type=date], select, textarea{  

  width: 100%;
  max-width: 780px;
  margin-bottom: 2.2rem!important;
  padding: 1.2rem;
  border-radius: 41px;
  outline: none;
  border: 1px solid #999;
  background-color: rgb(245 247 250);
  color: rgb(80 80 80);

  }
  
  textarea{
  resize: none;
  outline: none;
  height: 8rem;
  }
  
form{
padding: 0 10px;
margin: 3rem auto;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #505050;
}

.submit{
     text-transform: uppercase;
          width: 100%;
          padding: 1.2rem 3rem;
          border-radius: 41px;
          outline: none;
          border: none!important;
          margin-top: 3rem;
          color: #fff!important;
          background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition:  0.3s ease;
          font-weight: bold;
          text-align: center; 
          
            &:hover{
                  background: linear-gradient(0deg, #61ba6d 0%, #61ba6d 100%);
                  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
                  transition:  0.3s ease;
            }
.submit_black{			
     text-transform: uppercase;
          width: 100%;
          padding: 1.2rem 3rem;
          border-radius: 41px;
          outline: none;
          border: none!important;
          margin-top: 3rem;
          color: #fff!important;
          background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition:  0.3s ease;
          font-weight: bold;
          text-align: center; 
		background: linear-gradient( 0deg, rgb(102,102,102) 0%, rgb(0,0,0) 100%);	
            &:hover{
                  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(0,0,0) 100%);
                  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
                  transition:  0.3s ease;
            }

}

button{
outline: none;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}

	.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.row {

  width: 100%;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}	


.business{
    padding: .5rem;
    background-color: rgb(250 255 196);
    text-transform: uppercase;
    border: green 1px solid;
    border-radius: 30px;
}