html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.container__footer {
  max-width: 1860px;
  margin: 0 auto;
}

.application__container{
  max-width: 595px;
  margin: 0 auto;
}

.header{  
  background: linear-gradient( 0deg, rgb(97,186,109) 0%, rgb(136,207,45) 100%);

  &__wrapper{
    display: flex;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 13px;
  }
  &-authorization{
    display: flex;
  }
  &__container{
    max-width: 1860px;
    margin: 0 auto;
  }
}

.logo{
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  line-height: 35px;
  margin-left: 67px;
  span{
    font-family: 'Myriad Regular';
    font-weight: 400;
    font-size: 48px;
    color: #fff;
  }
}

.site-navigation{
  margin-right: 350px;
  &__list{
    display: flex;
    list-style: none;
    margin-left: 140px;
  }
  &__item{
    &:nth-child(1){
      margin-right: 68px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url('../img-arbitration/message-icon.png');
        height: 31px;
        width: 35px;
        left: -44px;
        top: -6px;

      }
    }
    &:nth-child(2){
      margin-right: 85px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url('../img-arbitration/order-icon.png');
        width: 36px;
        height: 36px;
        left: -44px;
        top: -6px;
      }
    }
    &:nth-child(3){
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url('../img-arbitration/ad-icon.png');
        width: 35px;
        height: 31px;
        left: -44px;
        top: -6px;
      }
    }
  }
  &__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
  }
}

.logout{
  border: none;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  margin-right: 50px;
  background-color: transparent;

  position: relative;
  cursor: pointer;
  outline: none;
  &::before{
    content: "";
    position: absolute;
    background-image: url('../img-arbitration/logout-icon.png');
    width: 35px;
    height: 35px;
    left: -44px;
    top: 17px;
  }
}
.specialist-info{
  position: relative;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  background-color: #000;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 31px;

  padding: 14px 62px 11px 91px;
  max-width: 321px;
  outline: none;
  cursor: pointer;
  &::before{
    content: "";
    position: absolute;
    background-image: url('../img-order/specialist-icon.png');
    width: 35px;
    height: 35px;
    left: 35px;
  }
}

.money{
  margin-top: 102px;
  &__wrapper{
    display: flex;
  }
  &__container{
    max-width: 1140px;
    margin: 0 auto;
  }
  &__balance{
    width: 100%;
    max-width: 165px;
    margin-left: auto;
    height: 62px;
    border: 1px solid #999;
    border-radius: 25px;
  }
  &__withdraw{
    width: 100%;
    max-width: 165px;
    height: 62px;
    border: 1px solid #999;
    border-radius: 25px;
    margin-left: 30px;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 72px;
  }
  &__form{
    margin-top: 80px;
    display: flex;
  }
  &__select{
    width: 100%;
    max-width: 458px;
    border-radius: 31px;
    height: 65px;
    outline: none;

    margin-right: 30px;
  }
  &__date{
    width: 100%;
    max-width: 360px;
    border-radius: 31px;
    border: 1px solid #999;
    outline: none;

    margin-right: 30px;
  }
  &__button{
    width: 100%;
    max-width: 262px;
    background: linear-gradient( 0deg, rgb(97,186,109) 0%, rgb(136,207,45) 100%);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 31px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
}

.balance__link{
  padding-top: 17px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.withdraw__link{
  padding-top: 24px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

