html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.container__form{
	max-width: 790px;
	margin: 0 auto;
}

.container__footer{
	max-width: 1860px;
	margin: 0 auto;
}


.header{
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	padding-bottom: 11px;
	&__wrapper{
		display: flex;
		align-items: center;
		padding-top: 11px;
	}
	&-authorization{
		display: flex;
	}
	&__container{
		max-width: 1860px;
		margin: 0 auto;
	}
}

.logo{
	font-family: 'Myriad Bold';
	font-weight: bold;
	font-size: 48px;
	line-height: 35px;
	margin-left: 67px;
	span{
		font-family: 'Myriad Regular';
		font-weight: 400;
		font-size: 48px;
		color: #73c450;
	}
}

.site-navigation{
	margin-right: 443px;
	&__list{
		display: flex;
		list-style: none;
		margin-left: 140px;
	}
	&__item{
		&:nth-child(1){
			margin-right: 68px;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				background-image: url('../img-order/message-icon.png');
				height: 31px;
				width: 35px;
				left: -44px;
				top: -6px;

			}
		}
		&:nth-child(2){
			margin-right: 85px;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				background-image: url('../img-order/order-icon.png');
				width: 36px;
				height: 36px;
				left: -44px;
				top: -6px;
			}
		}
		&:nth-child(3){
			position: relative;
			&::before{
				content: "";
				position: absolute;
				background-image: url('../img-order/new-order.png');
				width: 35px;
				height: 31px;
				left: -44px;
				top: -6px;
			}
		}
	}
	&__link{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.logout{
	border: none;
	text-transform: uppercase;
	color: #61ba6d;
	font-size: 18px;
	font-family: 'Myriad Bold';
	font-weight: bold;
	margin-right: 50px;
	background-color: transparent;

	position: relative;
	cursor: pointer;
	outline: none;
	&::before{
		content: "";
		position: absolute;
		background-image: url('../img-order/logout-icon.png');
		width: 35px;
		height: 35px;
		left: -44px;
		top: 17px;
	}
}
.specialist-info{
	position: relative;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-family: 'Myriad Bold';
	font-weight: bold;
	background: linear-gradient( 0deg, rgb(97,186,109) 0%, rgb(136,207,45) 100%);
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	border-radius: 31px;

	padding: 14px 62px 11px 91px;
	max-width: 321px;
	outline: none;
	cursor: pointer;
	&::before{
		content: "";
		position: absolute;
		background-image: url('../img-order/specialist-icon.png');
		width: 35px;
		height: 35px;
		left: 35px;
	}
}

.perfomers{
	&__container{
		max-width: 1155px;
		margin: 0 auto;
	}
	&__title{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		padding-top: 120px;
		line-height: 0;
		margin-bottom: 104px;
	}
	&__form{

	}
	&__region{
		width: 100%;
		max-width: 473px;

		border-radius: 31px;
		padding: 22px 0 20px 25px;
		outline: none;
		margin-right: 25px;
		margin-bottom: 42px;
	}
	&__city{
		width: 100%;
		max-width: 652px;

		border-radius: 31px;
		padding: 22px 0 20px 25px;
		outline: none;
		margin-bottom: 42px;
	}
	&__service{
		width: 100%;
		max-width: 653px;

		border-radius: 31px;
		padding: 22px 0 20px 25px;
		outline: none;
		margin-right: 25px;
	}
	&__button{
		font-weight: bold;
		width: 100%;
		max-width: 472px;

		border-radius: 31px;
		padding: 22px 0 20px 25px;
		outline: none;
		cursor: pointer;
		border: none;
		text-transform: uppercase;
		background: linear-gradient( 0deg, rgb(97,186,109) 0%, rgb(136,207,45) 100%);
  		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);

  		color: #fff;
	}
	&__checkbox{
		margin-top: 62px;
	}
	&__label-1{
		margin-right: 62px;
	}
}

.executor{
&__container{
    max-width: 1170px;
    margin: 0 auto;
  }
  &__box{
    margin-top: 83px;
    display: flex;
    border-top: 5px solid #eee;
    padding-bottom: 66px;
    padding-top: 62px;
  }
  &__img{
  	width: 100%;
  	max-width: 195px;
  	img{
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  	}
  }
  &__state{
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #999;
    border-radius: 10px;
    width: 100%;
    max-width: 130px;
    height: 27px;
    text-align: center;

    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: green;
  }
  &__btn{
  	font-size: 14px;
  	font-weight: bold;
  	text-transform: uppercase;
  	color: #fff;
  	width: 100%;
  	max-width: 195px;
  	border-radius: 31px;
  	background: linear-gradient( 0deg, rgb(97,186,109) 0%, rgb(136,207,45) 100%);
  	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  	border: none;
  	cursor: pointer;
  	outline: none;
  	padding: 13px 0 15px;
  	margin-top: 98px;
  }
  &__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    span{
      color: green;
    }
  }
  &__user{
    font-size: 20px;
    font-weight: bold;
  }
  &__tale{
  	margin-top: 27px;
  }
  &__portfolio{
  	width: 100%;
  	max-width: 945px;
  	margin-top: 38px;
  	display: flex;
  	justify-content: space-around;
  }
  &__information{
	margin: 0 auto;
	max-width: 255px;
	position: relative;
	z-index: 2;
	margin-top: -81px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
   }
	&__text{
		font-family: 'Quicksand', sans-serif;
		font-size: 18px;
		text-transform: uppercase;

		padding-top: 22px;
		padding-left: 30px;
	}
	&__price{
		font-family: 'Quicksand', sans-serif;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		padding-left: 30px;

		color: #61ba6d;
		padding-bottom: 24px;
	}
	&__link{
		color: blue;
	}
}

.footer{
  margin-top: 150px;
  background: linear-gradient( 0deg, rgb(102,102,102) 0%, rgb(0,0,0) 100%);
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 33px;
    padding-bottom: 55px;
  }
  &__column{
    &:nth-child(1){
      margin-left: 40px;
    }
  }
  &__logo{
    font-family: 'Myriad Bold';
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    line-height: 32px;
    span{
      font-weight: 400;
      color: #6cb970;
    }
  }
  &__copyright{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-top: 43px;
  }
  &__item{
    &:nth-child(1){
      margin-top: 25px;
    }
    &:nth-child(2){
      padding-top: 55px;
    }
  }
  &__link{
    color: #fff;
  }
  &__button{
    font-family: 'Myriad Bold';
    font-weight: bold;
    font-size: 18px;

    text-transform: uppercase;
    color: #fff;
    background: linear-gradient( 0deg, rgb(177,177,177) 0%, rgb(141,141,141) 100%);
    padding: 24px 83px 25px 76px;
    border-radius: 40px;

    &:hover{
      box-shadow: 0px 5px 16.6px 3.4px rgba(99,187,106,0.35);
    }
  }
  &__mail{
    margin-top: 40px;
    color: #fff;
  }
}
 
