.container__form{
  max-width: 595px;
  margin: 0 auto;
}






.question{
	&__title{
		  font-size: 2rem;
          text-align: center;
          font-weight: bold;
          padding-top: 3rem;
          margin-bottom: 5rem;
	}
	&__container{
		margin: 0 auto;
		max-width: 590px;
	}
	&__form{
		padding: 0 10px;
	}
	&__theme{
		width: 100%;
		max-width: 590px;
		padding: 20px 0 22px 20px;
		border-radius: 31px;
		outline: none;
	}
	&__field{
		  resize: none;
          outline: none;
          height: 8rem;
	}
	&__button{
		text-transform: uppercase;
          width: 100%;
          max-width: 580px;
          padding: 1.2rem 0 1.2rem 1.2rem;
          border-radius: 41px;
          outline: none;
          border: none;          
          color: #fff!important;
          background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition:  0.3s ease;
          font-weight: bold;
          text-align: center; 
          
            &:hover{
                  background: linear-gradient(0deg, #61ba6d 0%, #61ba6d 100%);
                  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
                  transition:  0.3s ease;
            }
	}
		 input, textarea{  

  width: 100%;
  max-width: 780px;
  margin-bottom: 2.2rem!important;
  padding: 1.2rem 0 1.2rem 1.2rem;
  border-radius: 41px;
  outline: none;
  border: 1px solid #999;
  background-color: rgb(245 247 250);
  color: rgb(80 80 80);

  }
}